.button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $white;
  background-color: $button-color;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
