* {
  box-sizing: border-box;
}
.button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $button-color;
  background-color: $button-background-color;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.secondary-title {
  font-family: "Bely Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: $title-color;
}
.description {
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 26px;
  color: $text-color;
}

.shareholders-layout {
  display: flex;
}

.shareholders-info-layout {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .logo {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    display: inline;
  }
}
