.button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $white;
  background-color: $button-color;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.secondary-title {
  font-family: "Bely Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: $title-color;
}

.description {
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 26px;
  color: $text-color;
}