.section-cta {
  display: flex;

  margin-bottom: 130px;
  .cta__info {
    h2 {
      margin-top: 59px;
      margin-bottom: 24px;
    }
    p {
      margin-bottom: 40px;
    }
  }
  .cta__img {
  }
}
