.features-section {
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &__title {
      // flex-basis: 895px;
    }

    &__description {
      // letter-spacing: -0.2px;
    }
  }

  .features-cards {
    display: flex;
  }
}
