.features-section {
  margin-bottom: 160px;
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;

    &__title {
      // flex-basis: 895px;
    }

    &__description {
      text-align: center;
      // letter-spacing: -0.2px;
    }
  }

  .features-cards {
    display: flex;
    gap: 23px;

    &__icon {
      height: 88px;
      width: 88px;
      margin-top: 64px;
      margin-bottom: 24px;
    }

    &__title {
      font-family: "Proxima Nova", sans-serif;
      font-size: 24px;
      margin-bottom: 16px;
    }

    &__feature {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: #fff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }
    &__description {
      padding: 0px 24px 64px 24px;
      text-align: center;
    }
  }
}
