.hero-section {
  display: flex;
  margin-bottom: 325px;
}

.hero-advert {
  margin-top: 191px;
  flex-basis: 608px;
  flex-shrink: 0;

  &__title {
    font-family: "Bely Display", sans-serif;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    color: $title-color;
    //   letter-spacing: -2%;  Doesn't work
    margin-bottom: 24px;
  }

  &__description {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: $text-color;
    //   letter-spacing: -2%;  Doesn't work
    margin-bottom: 40px;
  }
}

.hero-illustration {
  margin-top: 91px;
  height: 570px;
  flex-basis: auto;
  position: relative;
  // transform: translate(145px);

  &__image {
    position: absolute;
    top: 0;
    left: -98px;
    // right: 88px;
    // z-index: 1;
  }
  &__background {
    // z-index: 2;
    position: absolute;
    top: -20px;
    left: 40px;
  }
}
