.new-talents-section {
  .new-talents-description {
    text-align: center;
    padding: 0 215px;
    h2 {
      margin-bottom: 24px;
    }
    p {
      margin-bottom: 48px;
    }
  }
  .new-talent-tasks {
    font-family: "Novel Mono Pro";

    display: flex;
    align-items: flex-start;
    gap: 24px;

    position: relative;
    .task {
      padding: 24px 24px 28px 24px;
      box-shadow: 0 2px 8px rgba(#000000, 0.1);
      border-radius: 16px;
      .task__title {
        font-size: 18px;
        margin-bottom: 16px;
        font-weight: 700;
      }
      .task__description {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 28px;
      }

      .task__terms {
        display: flex;
        justify-content: space-between;
        .task__bounty {
          background-color: $button-background-color;
          border-radius: 40px;
          font-weight: 500;
          padding: 4px 8px;
        }
        .task__deadline {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    .button-black {
      background-color: $button-background-color-black;
      padding: 20px 24px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 172px);
    }
  }
}
